<div class="table-responsive">
	<table class="table table-bordered">
    	<thead class="table-head">
    		<th>Event Name</th>
    		<th>Date</th>
    		<th>Venue</th>
    		<th>City</th>
    		<th>State</th>
    		<th>Action</th>
    	</thead>
    	<tr class="table-row" ng-repeat="event in events | filter:local | orderBy:sortEvents" >
    		<td>{{event.name}}</td>
			<td>{{event.date | date:'fullDate' }}, {{event.date | date:'shortTime' }}</td>
			<td>{{event.venue.name}}</td>
			<td>{{event.venue.city}}</td>
			<td>{{event.venue.state}}</td>
			<td><span class="event-remove"><span class="glyphicon glyphicon-trash" ng-click="deleteEvent(event.id)"></span></span> / <span class="glyphicon glyphicon-edit" ng-click="openEditEventForm(event.id)"></span></td>
    	</tr>
    </table>
</div>