<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">Add a new event</h4>
</div>
	
<div class="modal-body">
	<form name="eventForm" class="form" novalidate ng-submit="submitForm">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" ng-model="editableEventData.name" required />
		</div>
		
		<div class="form-group">
			<label>Date</label>

			<pre>{{editableEventData.date | date:'fullDate' }}, {{editableEventData.date | date:'shortTime' }}</pre>
			<datetimepicker 
			hour-step="hourStep" 
			minute-step="minuteStep" ng-model="editableEventData.date"
			date-format="{{format}}" date-options="dateOptions"
			date-disabled="disabled(date, mode)" 
			datepicker-append-to-body="false"
			readonly-date="false"
			hidden-time="false"
			hidden-date="false" 
			name="datetimepicker"
			show-spinners="true"
			readonly-time="false"
			date-opened="dateOpened"
			>
			</datetimepicker>
			
		</div>

		<div class="form-group">
	    	<label>Venue</label>
	    	<input type="text" class="form-control" ng-model="editableEventData.venue.name" required />
		</div>
		<div class="form-group">
		    <label>City</label>
	    	<input type="text" class="form-control" ng-model="editableEventData.venue.city" required />
		</div>
		<div class="form-group">
		    <label>State</label>
	    	<input type="text" class="form-control" ng-model="editableEventData.venue.state" />
		</div>

	</form>    
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" ng-click="cancelForm()">Close</button>
	<button class="btn btn-success pull-right"  ng-click="submitForm()"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
</div>