<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vivid Seats</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css"/>
    <link rel="stylesheet" href="css/VividSeats.css"/>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/VividSeats.js"></script>

</head>

<!-- Start Angular App -->
<body ng-app="VividSeats">
	
	<div class="container" ng-controller="MainController">

		<h1>{{ title }}</h1>

		<uib-alert ng-repeat="alert in toastAlerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.duration || 4000}}">{{alert.msg}}</uib-alert>


		<uib-tabset active="activeForm">
			<uib-tab
	            ng-repeat="t in tabs"
	            heading="{{t.heading}}"
	            select="go(t.route)"
	            active="t.active">
	        </tab>
		</uib-tabset>

		<div ui-view></div>


		<!-- Button trigger modal for add event -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="openNewEventForm()">
			Add Event
		</button>

		<!-- Button refresh events from "service" -->
		<!-- Great if I have a service that I think worked but don't want to do a hard refresh and lose my fake data -->
		<button type="button" class="btn btn-primary btn-lg" ng-click="getEvents()">
			Refresh Events
		</button>
	</div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/EventFormController.js"></script>

    <!-- Services -->
    <script src="js/services/EventService.js"></script>
	    
    <!-- Jquery JS -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Javascript Libraries -->
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>

</body>
</html>